/* Orientation independent styles */
@import url('/assets/css/base/preflight.css') all; 
@import url('/assets/css/base/colors.css') screen;
@import url('/assets/css/base/fonts.css') all;   
@import url('/assets/css/base/debug.css') screen;      
 
/* Code syntax highlight */
@import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.0/build/styles/github-dark.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css";

@media (min-aspect-ratio: 2 / 1) { /* Length : Breadth ratio > 2 */
  :root {
    --edge: 100vmin; /* Always pick the shorter side for better control on scalability. */
    --basis: calc(--var(edge) / 100); 
  }
}

@media (max-aspect-ratio: 2 / 1) { /* Length : Breadth ratio < 2 */
  :root {
    --edge: 50vmax;
    --basis: calc(--var(edge) / 100); 
  }
}

:root {
  --fs: calc(1 * var(--basis)); /* Factor 2 can be adjusted according to required font-size relative to the mobile viewport. */

  /* Treat larger widths in portrait mode as landscape with more room for the scroll. */
  --lean: calc(95 * var(--vmin)); /* 100vmin i.e portrait width or full height in landscape orientation. */
  --safe: var(--lean);
  --full: 100vmin;
  --half: 100vmin;
  --one-half: var(--lean); /* Since mobile devices are lean anyway. */
  --one-third: var(--lean); /* …will be different in case of tablets. */
  --two-third: var(--lean);

  --base-font-size-for-mobile: calc(1.2 * var(--fs)); 
  --base-font-size: var(--base-font-size-for-mobile); /* This variable is declared for each device category separately. */

  --vmin: 1vmin; /* Only used when vmin is supported by the browser. */

  /* Fix standard width to a minimum */
  --standard-width: calc(25 * var(--vmin));
  --min-width: 368px; /* TODO: calculate this? */

  --portrait-axis: /assets/css/portrait.css;
  --landscape-axis: /assets/css/landscape.css;        
  --pattern-1: url('/assets/images/watercolour1.webp');
  --pattern-2: url('/assets/images/watercolour3.webp');
  --pattern-noise: url('/assets/images/noise.webp');   
}

html,
body {
  /** Pagefind variables */
  --pagefind-ui-scale: 0.8; /* Scales the whole search box */
  --pagefind-ui-font: var(--sans-font-family); 
  --pagefind-ui-primary: var(--color-darkgray);
  --pagefind-ui-text: var(--color-darkgray);
  --pagefind-ui-background: var(--color-white-transparent-25);
  --pagefind-ui-tag: var(--color-lightgray);
  --pagefind-ui-border: var(--color-darkgray);
  --pagefind-ui-border-width: 0.075rem;
  --pagefind-ui-border-radius: 0.25rem;

  font-size: var(--base-font-size);
  font-family: var(--serif-font-family);
  font-variation-settings: var(--serif-variation);

  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Ensure that padding does not affect the overall dimensions */ 
}

#search {
  & .pagefind-ui__drawer  { 
    position: absolute;
    width: 100%; 
    max-height: calc(100vh - 150px);
    padding: 0.5rem; 
    padding-top: 0; 
    opacity: 0.95;
    overflow-y: auto;
    box-shadow: 0 4px 6px -1px var(--color-alpha-black), 0 2px 4px -1px var(--color-transparent-010);
    background-color: var(--color-white-transparent-95);
    border: var(--pagefind-ui-border-width) solid var(--color-gray-100); 
    border-bottom-right-radius: var(--pagefind-ui-border-radius);
    border-bottom-left-radius: var(--pagefind-ui-border-radius);
  }

  & .pagefind-ui__message { padding-top: 0; }
  & .pagefind-ui__result { padding-top: 0.25rem; padding-bottom: 1rem; }
  & .pagefind-ui__result:last-of-type { border-bottom-width: 0; }
  & .pagefind-ui__result-title { padding-bottom: 0.25rem;}
  & .pagefind-ui__result-excerpt { color: var(--text-color-gray-700);}
}

/* Keyframes Definitions */
@keyframes kf-scroll-right {
    0%, 100% { transform: translateX(-50%); }
    50% { transform: translateX(0%);}
}

@keyframes kf-pulse {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

@keyframes kf-fade {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
}

/* Animation Class Definitions */
.annimation-scroll-right {
  animation: kf-scroll-right 240s ease-in-out infinite;
}
.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
/* Hero Section for the home page */
#hero-section {
  position: relative; 
  display: flex; 
  flex-direction: column; 
  inset: 0; 
  overflow-x: clip;
  min-height: 4rem;
} /* END: hero-section*/

#hero-section .home {
  min-height: 30rem;
  & div:first-child {
    /* The home page needs a 6x3 grid, but other pages only need a 6x1 grid */
    grid-template-rows: repeat(3, 1fr); /* "grid-rows-3" */
  }
}

#hero-section > section.background {
  div:first-child {
    overflow: clip;
    position: absolute;
    inset: 0; 
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* "grid-cols-6" */
    grid-template-rows: repeat(1, 1fr); /* "grid-rows-3" */
  
    > .bg-pattern {
        background-image: var(--pattern-noise);
        animation: kf-pulse 10s infinite ease-in-out;
        filter: blur(2.5rem) invert(50%);
    }
  }
  .hero-bg {
    position: absolute;
    inset: 0; 
    background-repeat: repeat;
    mix-blend-mode: screen;
    &.bg-1 {
      background-image: var(--pattern-1);
      animation: kf-fade 30s 0s infinite;
    };
    &.bg-2 {
      background-image: var(--pattern-2);
      animation: kf-fade 30s 15s infinite;
    }
  }

  & picture > img {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 1.25rem;
    margin-right: calc(var(--standard-width) * -0.8);
    max-height: calc(var(--standard-width) * 2);
  }
} /* END: #hero-section > section.background */

/* Main message with in the hero section for the home page */
#hero-section > section.brand-message {
  display: flex;
  flex-direction: column;
  width: 64%; /* 7/12 */
  padding-left: 0.625;
  padding-top: calc(var(--standard-width) / 4);
  padding-bottom: calc(var(--standard-width) / 2);
  margin-top: 1rem;
  margin-left: 0.625rem;
  position: relative;
  z-index: 10;
  /* Enable force inheritance for SmartTVs */
  font-family: var(--serif-font-family); 
  font-variation-settings: var(--serif-variation);

  > div  {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family:inherit; /* Force inheritance for SmartTVs */
    /* Tagline: div + p The main hero-message tag-line */
    span {
      color: var(--text-color);
      white-space: nowrap;
      font-size: calc(var(--standard-width) / 4); 
      font-family:inherit; /* Force inheritance for SmartTVs */
      color: var(--text-color);
    }
    /* Mask for the word scroll in the main hero message tag-line */
    & > span + div {
      margin-left: calc( var(--standard-width) * 0.05 ); 
      height: calc( var(--standard-width) * 0.625 ); 
      width: calc( var(--standard-width) * 1.6 );

      mask-image: radial-gradient(80% 50% at 47% 50%, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 80%);
      -webkit-mask-image: radial-gradient(80% 50% at 47% 50%, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 80%);
      font-family:inherit; /* Force inheritance for SmartTVs */
      /* Word scroll container */
      > div {
        display: flex;
        flex-direction: column-reverse;
        font-size: calc(var(--standard-width) / 4);
        font-family:inherit; /* Force inheritance for SmartTVs */
      }
      /* Word List in the word scroll */
      > div div {
        padding: 0;
        margin: 0;
        height: calc( var(--standard-width) * 0.37 ); 
        font-family:inherit; /* Force inheritance for SmartTVs */
      }
    }    
  } /* div */

  /* Tagline: div + p The sub-text to the tag-line */
  > div + p {
    display: inline-block;
    margin-top: -0.7rem;
    width: 100%;
    min-width: var(--min-width);
    font-size: calc(var(--standard-width) * 0.1); 
    font-family: var(--sans-font-family); 
    font-variation-settings: var(--sans-variation);
    span {    
      font-family:inherit; /* Force inheritance for SmartTVs */
    }
  } /* Tagline:  div + p */

} /* END: #hero-section > section.brand-message  */

/* Menu Navigation common across the entire site */
#menu-bar {
  display: flex; 
  inset: 0;
  z-index: 20;

  margin: 0.3125rem 0.625rem 0 0.625rem;
  > picture {
    display: flex;
    justify-content: center; 
    align-items: center;
    margin-right: 0.25rem;
  }

  > nav {
    display: flex; 
    position: relative;
    align-items: center; 
    align-self: stretch;
    height: 4rem;
    margin-left: 1rem;
  }

  > nav > menu {
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  
    font-family: var(--sans-font-family);
    font-variation-settings: var(--sans-variation);
    font-size: 1rem;
  
    & > .menu-item {
      display: block;
      text-decoration: none;
      font-family:inherit; /* Force inheritance for SmartTVs */
      &:hover {
        color: var(--text-color-tuscany);
        text-decoration: underline;
      };
      & .current-page {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
  > #search {
    display: none;
    margin-top: 0.5rem;
    max-width: 30rem;
    margin-left: auto;
  }
} /* END: #menu-bar */

/* Selection of Social Links to arrange horizontally */
#social-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0.5;

  & > div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.125rem;

    & div {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 0.1875rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
       
      & > a {
        font-size: 0.75rem; 
        color: var(--text-gray-700);
        &:hover {
          color: var(--text-gray-800);
        }
      };
    };
  }
} /* END: social-links */
  
/* Brand Footer includes the brand-logo + brand-name + tag-line */
#basement-message {
  display:grid;
  justify-content: center;
  align-items: center;
  font-size: 0.5rem;
  opacity: 0.75;
  /* Logo Image and Words */
  div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    gap: 0.5rem;
    /* Brand Name */
    p {
      font-size: 0.75rem;
      font-family: var(--header-font-family); 
      font-variation-settings: var(--header-variation);
    }      
  }
} /* END: basement-message */

#copyright {
  margin-bottom: 0.75rem;
  margin-top: 0.5rem;

  p {
    text-align: center;
    font: italic 0.75rem var(--fine-print-font-family);
    font-variation-settings: var(--fine-print-variation);  
  }    
} /* END: copyright */
#content {
  flex-grow: 1; 
  padding-left: var(--notch-inset-left);
  z-index: 15;
}
section#filler { background-color: var(--bg-color); }