
@font-face {
    font-family: 'Fraunces';
    src: url('/assets/fonts/Fraunces-VariableFont-1.ttf') format('truetype');
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/Inter-VariableFont-1.ttf') format('truetype');
}

/* Global Font families. */
:root {
    --sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --system: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Droid Sans, Helvetica Neue, Fira Sans, sans-serif !important;
    --monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --serif: -apple-system-ui-serif, ui-serif, "Apple Garamond", "Baskerville", "Times New Roman", "Droid Serif", "Times", "Source Serif Pro", serif;
    
    /* yumi styles */
    --serif-font-family: "Fraunces", "Merriweather", serif;
    --serif-variation: "wght" 400, "SOFT" 100, "WONK" 1;
    --serif-medium-variation: "wght" 400, "SOFT" 100, "WONK" 1;

    --sans-font-family: 'Inter', -apple-system, system-ui, sans-serif;
    --sans-variation: "wght" 300, "slnt" 0;
    --sans-light-variation: "wght" 200, "slnt" 0;
    --sans-medium-variation: "wght" 400, "slnt" 0;
    --sans-bold-variation: "wght" 500, "slnt" 0;

    --header-font-family: "Fraunces", "Merriweather", serif;
    --header-variation: "wght" 300, "SOFT" 100, "WONK" 1;
    --header-medium-variation: "wght" 400, "SOFT" 100, "WONK" 1;
    --header-bold-variation: "wght" 600, "SOFT" 100, "WONK" 1;

    --subheader-font-family: "Fraunces", "Merriweather", serif;
    --subheader-variation: "wght" 300, "SOFT" 100, "WONK" 1;
    --subheader-medium-variation: "wght" 350, "SOFT" 100, "WONK" 1, "opsz" 144;

    --content-font-family: var(--sans-font-family);

    --content-variation: "wght" 300, "SOFT" 100, "WONK" 1;
    --content-thin-variation: "wght" 150, "SOFT" 100, "WONK" 1;

    --fine-print-font-family: "Fraunces", "Merriweather", serif;    
    --fine-print-variation: "wght" 200, "SOFT" 100, "WONK" 1;
}
