    /* Base Style */
    #buildingblocks {
        font-size: 1rem;   
        font-family: var(--sans-font-family); 
        font-variation-settings: var(--sans-variation);
  
        display: flex;
        flex-direction: column;   
        background-color: green;
        
        --brickcolor: green;
  
        & svg {
          --segmentlength: 32px;
          --segmentgap: 0px;
          --numbersegments: 10;
          --caplength: calc(var(--segmentlength) * var(--numbersegments));
          --blocklength: calc(var(--segmentlength) * var(--numbersegments));
  
          width: 0;
          height: 0;
          
          &.brick{
            width: var(--blocklength);
            height: auto;
          }
  
          & .blocklength {
            width: var(--blocklength);
          }
        }
  
        & > .blockgroup {
          display: flex;
        }
        & .firstgroup {
          flex: 0 0 100%; /* Full width */
          background-color: blue;
          justify-content: center;
          text-align: center;
          width: 100%;
        }
        & .secondgroup {
          flex: 0 0 25%; /* Four equal columns */
          background-color: blueviolet;
  
        }
        & > .blockgroup.thirdgroup {
          justify-content: center; /* Centering the items */     
          background-color: orangered;
        }
        & .thirdgroup {    
          flex: 0 0 33.333%; /* Three equal columns */ 
        }
      }