/* Code syntax highlight */
@import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.0/build/styles/github-dark.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css";

@font-face {
  font-family: 'Fraunces';
  src: url('assets/fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

/* CSS variables are used to set Pagefind style and are used in the font family is used in
   tailwind theme. 
*/
:root {
    --font-family: 'Inter', -apple-system, system-ui, sans-serif;
	  --red: #c04;
    --lightgray: #e6e6e6;
    --darkgray: #0d1117;
    --blue: #135;
    --white: rgba(255,255,255,0);
}

@layer base {
  html,
  body {
    /** Pagefind variables */
    --pagefind-ui-scale: .8;
    --pagefind-ui-primary: var(--darkgray);
    --pagefind-ui-text: var(--darkgray);
    --pagefind-ui-background: var(--white);
    --pagefind-ui-border: var(--darkgray);
    --pagefind-ui-tag: var(--lightgray);
    --pagefind-ui-border-width: 1px;
    --pagefind-ui-border-radius: 6px;
    --pagefind-ui-image-border-radius: 6px;
    --pagefind-ui-image-box-ratio: 3 / 2;
    --pagefind-ui-font: var(--font-family);
}}

@import "css/reset.css";

@tailwind base;

@layer components {
  /* Navbar */
  #search {
    & .pagefind-ui__drawer { @apply absolute px-5 py-5 overflow-y-auto shadow-lg w-full bg-white border rounded-md max-h-viewport-200 opacity-95}
    & .pagefind-ui__message { @apply m-0 p-0; }
    & .pagefind-ui__result { @apply pt-2 pb-0 border-0 }
    & .pagefind-ui__result-inner { @apply mt-2 }
    & .pagefind-ui__result-link { @apply text-black}
    & .pagefind-ui__result-excerpt { @apply text-gray-500}
  }
}

@import "css/yumi.css";

@tailwind components;
@tailwind utilities;
@tailwind variants;