/* Start test of viewport squarishness: 
    → Test what is the largest possible size of a square that would fit into the viewport? 
    → How many such "largest possible squares" can fit into the viewport without exceeding 100vmax?  
*/ 
@media (min-aspect-ratio: 1 / 2) {
  :root {
    --edge: 100vmin; /* Always start with the shortest viewport side. */
    --basis: calc(var(--edge) / 100); /* 1 part of the square */
    --fs: calc(2 * var(--basis)); /* fs stands for font size. */
  }
}

@media (max-aspect-ratio: 1 / 2) {
  :root {
    --edge: 50vmax; /* The shorter side, always. */
    --basis: calc(var(--edge) / 100); /* 1 part of the square */
    --fs: calc(2 * var(--basis)); /* Factor 2 can be adjusted according to required font-size relative to the mobile viewport. */
  }
}
/* End test of viewport squarishness */ 

:root {
  /* Treat larger widths in portrait mode as landscape with more room for the scroll. */
  --lean: calc(95 * var(--vmin)); /* 100vmin i.e portrait width or full height in landscape orientation. */
  --safe: var(--lean);
  --full: 100vmin;
  --half: 100vmin;
  --one-half: var(--lean); /* Since mobile devices are lean anyway. */
  --one-third: var(--lean); /* …will be different in case of tablets. */
  --two-third: var(--lean);

  --base-font-size-for-mobile: calc(4 * var(--fs)); 
  --base-font-size: var(--base-font-size-for-mobile); /* This variable is declared for each device category separately. */
}