---
title: Regenerative finance with yūmi and ai
menu:
  visible: true
---
<!DOCTYPE html>
<html lang="{{ lang.code }}">
{% include 'partials/head.njk' %}
<body>
  {% include 'partials/background.njk' %}
  <div class="page-container">
    {% include 'partials/hero.njk' %}
    <main id="content">
      {{ content | safe }}
    </main>
    {% include 'partials/footer.njk' %}
  </div>
  {% include 'partials/scripts.njk' %}
</body>
</html>