@font-face {
  font-family: 'Fraunces';
  src: url('assets/fonts/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf') format('truetype');
}
@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter-VariableFont_slnt\,wght.ttf') format('truetype');
}

html,
body {
  /** Pagefind variables */
  --pagefind-ui-scale: .8;
  --pagefind-ui-primary: var(--darkgray);
  --pagefind-ui-text: var(--darkgray);
  --pagefind-ui-background: var(--white);
  --pagefind-ui-border: var(--lightgray);
  --pagefind-ui-tag: var(--lightgray);
  --pagefind-ui-border-width: 1px;
  --pagefind-ui-border-radius: 6px;
  --pagefind-ui-image-border-radius: 6px;
  --pagefind-ui-image-box-ratio: 3 / 2;
  --pagefind-ui-font: var(--font-family);
}

/* Navbar */
#search {
  & .pagefind-ui__drawer {
    @apply absolute px-5 py-5 overflow-y-auto shadow-lg w-full bg-white border rounded-md;
    max-height: calc(100vh - 200px);
  }

  & .pagefind-ui__message {
    @apply m-0 p-0;
  }

  & .pagefind-ui__result {
    @apply pt-2 pb-0
  }

  & .pagefind-ui__result-inner {
      @apply mt-2
    }
  
  & .pagefind-ui__result-link {
    @apply text-[color:black];  
  }
  
  & .pagefind-ui__result-excerpt {
    @apply text-[color:darkgray];
  }
}