<div class="footer">
    <div class="f_content">
        <div class="f_icons">
            <a href="https://www.youtube.com/channel/UCUl0e1S_69nW2EBAi_xlpxA?view_as=subscriber" class="dim"><i data-feather="youtube"></i></a>
            <a href="https://twitter.com/yumilabs" class="dim"><i data-feather="twitter"></i></a>
            <a href="https://github.com/yumiai" class="dim"><i data-feather="github"></i></a>
            <a href="mailto:hiya@yumi.ai" class="dim"><i data-feather="send"></i></a>
        </div>
        <div class="f_text">
            <small class="black-80">{{ $.Site.Params.footertextsub }}</small>
        </div>
    </div>
</div>