---
layout: layouts/base.njk
hero: 
  visible: true
  image: assets/images/pilea-peperomioides.png 
  byline:
    maintext: "Unleashing our collective intelligence to propel impactful change."
    subtext: "Regenerative Finance (ReFi) engineered on Cardano."  
menu:
  visible: true
  order: 0
---
<section id="mission">
  <h1>We are on a mission to finance progress,</h1>
  <h1>Together</h1>
</section>

<section id="delivery">
  <p>Delivering a regenerative finance</p>
  <p><mark>stack</mark> with yūmi's market</p>
  <p>protocols</p>
  
  {{comp.infocard({iconset: "fas", icon: "Login", title:"Inclusive", summary:"Committed to inclusivity, our impact finance protocols aim to fund underserved communities globally."}) | safe}}
  {{comp.infocard({iconset: "fas", icon: "Login", title:"Transparent", summary:"Boost confidence with unmatched transparency and accountability, preserving privacy."}) | safe}}
  {{comp.infocard({iconset: "fas", icon: "Login", title:"Intuitive", summary:"Anyone can contribute via an intuitive mobile experience that simplifies complex tasks."}) | safe}}
  {{comp.infocard({iconset: "fas", icon: "Login", title:"AI-Enhanced", summary:"AI streamlines and optimizes project finance including measurement, reporting, verification & investment."}) | safe}}
  {{comp.infocard({iconset: "fas", icon: "Login", title:"Programmable", summary:"Market protocols that automate tasks, lower compliance costs, and enable smart-contract financing."}) | safe}}
  {{comp.infocard({iconset: "fas", icon: "Login", title:"Interoperable", summary:"Open-source, interoperable protocols enable seamless interaction, expanding your financial network."}) | safe}}
  {{comp.infocard({iconset: "fas", icon: "Login", title:"Compliant", summary:"Built to ensure regulatory compliance, simplifying adherence and reducing costs."}) | safe}}
  {{comp.infocard({iconset: "fas", icon: "Login", title:"Secure", summary:"Engineered with robust measures to maintain system integrity and protect everyone’s assets."}) | safe}}
  {{comp.infocard({iconset: "fas", icon: "Login", title:"Sustainable", summary:"Committed to sustainability, our technology enables regenerative finance across generations."}) | safe}}
</section>

<section id="components-section">
  <p>Building the <mark>future</mark>, one block at a time</p>
  <p>yūmi’s building blocks enable communities to design and create their own micro-economic systems that help finance and coordinate activity at scale, across the planet.</p>
  
  <detail class="lego">
    <summary>Smart funds</h4>
    <p>A long and nice description of the lego brick.</p>
  <detail>
  
  <detail class="lego">
    <summary>Digital Identity</h4>
    <p>A long and nice description of the lego brick.</p>
  <detail>
    
  <detail class="lego">
    <summary>Digital MRV</h4>
    <p>A long and nice description of the lego brick.</p>
  <detail>
  
  <detail class="lego">
    <summary>Market Mechnaisms</h4>
    <p>A long and nice description of the lego brick.</p>
  <detail>
  
  <detail class="lego">
    <summary>Tensor Assets</h4>
    <p>A long and nice description of the lego brick.</p>
  <detail>
  
  <detail class="lego">
    <summary>Accord Framework</h4>
    <p>A long and nice description of the lego brick.</p>
  <detail>
  
  <detail class="lego">
    <summary>Alternative Dispute Resolution</h4>
    <p>A long and nice description of the lego brick.</p>
  <detail>
  
  <detail class="lego">
    <summary>Market Infrastructure</h4>
    <p>A long and nice description of the lego brick.</p>
  </detail>
</section>

<section id="projects-section">
  <p>Building the <mark>future</mark>, one block at a time</p>
  <p>No one makes <mark>progress</mark> alone</p>

  <p>yūmi is collaborating with multiple projects to help keep our technology humane while providing a launchpad to success</p>
  <button>left</button>
  <button>right</button>
  
  <section class="projectcard">
    <div class="profileimg"></div>
    <h3>Rukūkū</h3>
    <h4>Māori identity ecosystem</h4>
    <p>Project blurb goes here. committed to inclusivity, our impact finance protocols aim to fund underserved communities globally.</p>
  </section>
  
  <section class="projectcard">
    <div class="profileimg"></div>
    <h3>Blue Riot</h3>
    <h4>Digital Music Label</h4>
    <p>As a metalabel and digital collective focused on partial collective onwership in a digital ecosystem.</p>
  </section>
</section>

<section id="badges-section"></section>
  <p>Leading the finance revolution where <mark>everyone</mark> invests in each other, everywhere</p>
  
  <section class="infocard">
    <h3>Funded by</h3>
    <h4>Project Catalyst</h4>
    <div class="profileimg"></div>
  </section>
  
  <section class="infocard">
    <h3>Funded by</h3>
    <h4>Manatū Taonga</h4>
    <div class="profileimg"></div>
  </section>
  
  <section class="infocard">
    <h3>Plutus & Atala Prism</h3>
    <h4>Pioneers</h4>
    <div class="profileimg"></div>
  </section>
  
  <section class="infocard">
    <h3>Built on</h3>
    <h4>Cardano</h4>
    <div class="profileimg"></div>
  </section>
  
  <section class="infocard">
    <h3>Scales with</h3>
    <h4>EUTxO</h4>
    <div class="profileimg"></div>
  </section>
</section>

<section id="support-section">
  <p>Support us today for a better tomorrow</p>
  <button>Stake to our stake-pool</button>
  <p>Delegate to our stake-pool to help make our vision possible.</p>
  <button>Sign up</button>
  <p>Get ahead of the queue and be notified as we start to reveal more.</p>
</section>
