---
layout: layouts/base.njk
hero: 
  visible: true
  image: assets/images/pilea-peperomioides.png 
  byline:
    maintext: "Unleashing our collective intelligence to propel impactful change."
    subtext: "Regenerative Finance (ReFi) engineered on Cardano."  
menu:
  visible: true
  order: 0
---
<section id="mission">
  <h1>We are on a mission to finance progress,</h1>
  <h1>Together</h1>
</section>

<section id="delivery">
  <div>
    <h1>Delivering a regenerative finance</h1>
    <h1><mark class="thinbrush">stack</mark> with yūmi's market</h1>
    <h1>protocols</h1>
  </div>
  <div class="infocard-container">
    {{comp.infocard({iconset: "fas", icon: "fa-people-group", title:"Inclusive", summary:"Committed to inclusivity, our impact finance protocols aim to fund underserved communities globally."}) | safe}}
    {{comp.infocard({iconset: "fas", icon: "fa-magnifying-glass-chart", title:"Transparent", summary:"Boost confidence with unmatched transparency and accountability, preserving privacy."}) | safe}}
    {{comp.infocard({iconset: "fas", icon: "fa-brain", title:"Intuitive", summary:"Anyone can contribute via an intuitive mobile experience that simplifies complex tasks."}) | safe}}
    {{comp.infocard({iconset: "fas", icon: "fa-wand-magic-sparkles", title:"AI-Enhanced", summary:"AI streamlines and optimizes project finance including measurement, reporting, verification & investment."}) | safe}}
    {{comp.infocard({iconset: "fas", icon: "fa-file-waveform", title:"Programmable", summary:"Market protocols that automate tasks, lower compliance costs, and enable smart-contract financing."}) | safe}}
    {{comp.infocard({iconset: "fas", icon: "fa-arrow-right-arrow-left", title:"Interoperable", summary:"Open-source, interoperable protocols enable seamless interaction, expanding your financial network."}) | safe}}
    {{comp.infocard({iconset: "fas", icon: "fa-stamp", title:"Compliant", summary:"Built to ensure regulatory compliance, simplifying adherence and reducing costs."}) | safe}}
    {{comp.infocard({iconset: "fas", icon: "fa-building-lock", title:"Secure", summary:"Engineered with robust measures to maintain system integrity and protect everyone’s assets."}) | safe}}
    {{comp.infocard({iconset: "fas", icon: "fa-leaf", title:"Sustainable", summary:"Committed to sustainability, our technology enables regenerative finance across generations."}) | safe}}
  </div>
</section>

<section id="components">
  <div>
    <h1>Building the <mark class="thickbrush">future</mark>, one block at a time</h1>
    <p>yūmi’s building blocks enable communities to design and create their own micro-economic systems that help finance and coordinate activity at scale, across the planet.</p>
    <img src="/assets/images/lego-blocks.svg" ignorepicture alt="The building blocks of yūmi.">
  </div>


  <div style="display: none;">
    <detail class="lego">
      <summary>Smart funds</h4>
      <p>A long and nice description of the lego brick.</p>
    <detail>
    
    <detail class="lego">
      <summary>Digital Identity</h4>
      <p>A long and nice description of the lego brick.</p>
    <detail>
      
    <detail class="lego">
      <summary>Digital MRV</h4>
      <p>A long and nice description of the lego brick.</p>
    <detail>
    
    <detail class="lego">
      <summary>Market Mechnaisms</h4>
      <p>A long and nice description of the lego brick.</p>
    <detail>
    
    <detail class="lego">
      <summary>Tensor Assets</h4>
      <p>A long and nice description of the lego brick.</p>
    <detail>
    
    <detail class="lego">
      <summary>Accord Framework</h4>
      <p>A long and nice description of the lego brick.</p>
    <detail>
    
    <detail class="lego">
      <summary>Alternative Dispute Resolution</h4>
      <p>A long and nice description of the lego brick.</p>
    <detail>
    
    <detail class="lego">
      <summary>Market Infrastructure</h4>
      <p>A long and nice description of the lego brick.</p>
    </detail>
  </div>
</section>

<section id="projects">

  <div class="projectcards">
    <div class="carousel">
      <div class="projectcard">
        <img src="/assets/images/project-test-profile.png" alt="Rukūkū">
        <h3>Rukūkū</h3>
        <h4>Māori identity ecosystem</h4>
        <p>Project blurb goes here. committed to inclusivity, our impact finance protocols aim to fund underserved communities globally.</p>
      </div>
      <div class="projectcard">
        <img src="/assets/images/project-test-profile.png" alt="Project 2">
        <h3>Blue Riot</h3>
        <h4>Digital Music Label</h4>
        <p>As a metalabel and digital collective focused on partial collective onwership in a digital ecosystem.</p>
      </div>
      <div class="projectcard">
        <img src="/assets/images/project-test-profile.png" alt="Ngamanawa">
        <h3>Ngamanawa</h3>
        <p>Project summary...</p>
      </div>
      <div class="projectcard">
        <img src="/assets/images/project-test-profile.png" alt="Venture Centre">
        <h3>Venture Centre</h3>
        <p>Project summary...</p>
      </div>
    </div>
  </div>

  <div class="projecttext">
    <h1>No one makes <mark class="thinbrush">progress</mark> alone</h1>
    <p>yūmi is collaborating with multiple projects to help keep our technology humane while providing a launchpad to success</p>
    <div>
      <button class="carousel-arrow left-arrow"><i class="fas fa-arrow-left fa-lg"></i></button>
      <button class="carousel-arrow right-arrow"><i class="fas fa-arrow-right fa-lg"></i></button>
    </div>
  </div>

</section>  

<section id="supportedby">
  <div>
    <h1>Leading the finance revolution where <mark class="thickbrush">everyone</mark> invests in each other, everywhere.</h1>
  </div>
  <div>
    {{comp.support({role: "Funded by", name: "Project Catalyst", logo: "catalyst-logo.png"}) | safe}}
    {{comp.support({role: "Funded by", name: "Manatū Taonga", logo: "mch-logo.svg"}) | safe}}
    {{comp.support({role: "Pioneers", name: "Plutus & Atala Prism", logo: "pioneers-logo.svg"}) | safe}}
    {{comp.support({role: "Built on", name: "Built on", logo: "cardano-logo.svg"}) | safe}}
    {{comp.support({role: "Scales with", name: "Scales with", logo: "eutxo-logo.svg"}) | safe}}
  </div>
</section>

<section id="calltoaction">
  <div>
    <p>Support us today for a better tomorrow</p>
  </div>
  <div>
    <div>
      <button>Stake to our stake-pool</button>
      <p>Delegate to our stake-pool to help make our vision possible.</p>
    </div>
    <div>
      <form action="your-server-side-script" method="POST">
        <input type="email" id="email" name="email" placeholder="Enter your email" required>
        <button class="signup" type="submit">Sign Up</button>
      </form>
      <p>Get ahead of the queue and be notified as we start to reveal more.</p>
    </div>
  </div>
</section>