---
layout: layouts/base.njk
hero: 
  visible: true
  image: assets/images/pilea-peperomioides.png 
  byline:
    maintext: "Unleashing our collective intelligence to propel impactful change."
    subtext: "Regenerative Finance (ReFi) engineered on Cardano."  
menu:
  visible: true
  order: 0
---

<section id="filler">
  <img src="assets/images/pilea-peperomioides.png" imagick="webp png 800@2" alt="Pilea peperomioides plant, the money plant."></img>
</section>

yūmi is Regenerative.
