/* Responsive Layer Break Points */
@custom-media --breakpoint-sm  (min-width: 640px);
@custom-media --breakpoint-md  (min-width: 768px);
@custom-media --breakpoint-lg  (min-width: 1024px);
@custom-media --breakpoint-xl  (min-width: 1280px);
@custom-media --breakpoint-2xl (min-width: 1536px);

@custom-media --breakpoint-lsm  (min-width: 640px)  and (orientation: landscape);
@custom-media --breakpoint-lmd  (min-width: 768px)  and (orientation: landscape);
@custom-media --breakpoint-llg  (min-width: 1024px) and (orientation: landscape);
@custom-media --breakpoint-lxl  (min-width: 1280px) and (orientation: landscape);
@custom-media --breakpoint-l2xl (min-width: 1536px) and (orientation: landscape);

@custom-media --breakpoint-arsm  (min-aspect-ratio: 1/1);
@custom-media --breakpoint-armd  (min-aspect-ratio: 4/3);
@custom-media --breakpoint-arlg  (min-aspect-ratio: 3/2);
@custom-media --breakpoint-arxl  (min-aspect-ratio: 16/9);
@custom-media --breakpoint-ar2xl (min-aspect-ratio: 21/9);


:root {
  /* Width utilities in landscape: */
  --lean: calc(100 * var(--vmin)); /* 100vmin i.e Full portrait width or full landscape height. */
  --safe: calc(100 * var(--fs) + (100vmax - 100 * var(--fs)) / 2); /* 100vmin plus half of the remaining space on either sides. */
  --full: 100%; /* Useful for full bleed headers and banners. */
  --half: 50%;
  --one-third: calc(1 / 3 * 100%);
  --two-third: calc(2 / 3 * 100%);
  
  --base-font-size-for-desktop: calc(4 * var(--fs)); 
  --base-font-size: var(--base-font-size-for-desktop); /* This variable is declared for each device category separately. */
}

/* Responsive Design Media Queries */
@media (--breakpoint-arsm) {
    #hero-section > section.background img {
      margin-right: calc(var(--standard-width) * -0.5);
    } /* END: #hero-section > section.background */
}

@media (--breakpoint-armd) {
    #hero-section > section.background img {
      margin-right: calc(var(--standard-width) * -0.2);
      max-height: calc(var(--standard-width) * 1.8);
    } /* END: #hero-section > section.background */  
}

@media (--breakpoint-arlg) and (--breakpoint-lsm) {
    /* Main message with in the hero section for the home page */
    /* Tagline: div + p The sub-text to the tag-line */
    #hero-section > section.brand-message > div + p {
      display: flex;
      flex-direction: column;
    } /* END: #hero-section > section.brand-message  */
}

@media (--breakpoint-lmd) {
    /* Menu Navigation common across the entire site */
    #menu-bar {
        margin-bottom: auto;
    } /* END: #menu-bar */
}

@media (--breakpoint-md) {
    /* Menu Navigation common across the entire site */
    #menu-bar > #search {
          display: flex;
    }
}