/* Responsive Layer Break Points */
@custom-media --breakpoint-sm  (min-width: 640px);
@custom-media --breakpoint-md  (min-width: 768px);
@custom-media --breakpoint-lg  (min-width: 1024px);
@custom-media --breakpoint-xl  (min-width: 1280px);
@custom-media --breakpoint-2xl (min-width: 1536px);

@custom-media --breakpoint-lsm  (min-width: 640px)  and (orientation: landscape);
@custom-media --breakpoint-lmd  (min-width: 768px)  and (orientation: landscape);
@custom-media --breakpoint-llg  (min-width: 1024px) and (orientation: landscape);
@custom-media --breakpoint-lxl  (min-width: 1280px) and (orientation: landscape);
@custom-media --breakpoint-l2xl (min-width: 1536px) and (orientation: landscape);

@custom-media --breakpoint-arsm  (min-aspect-ratio: 1/1);
@custom-media --breakpoint-armd  (min-aspect-ratio: 4/3);
@custom-media --breakpoint-arlg  (min-aspect-ratio: 3/2);
@custom-media --breakpoint-arxl  (min-aspect-ratio: 16/9);
@custom-media --breakpoint-ar2xl (min-aspect-ratio: 21/9);

:root {
  --notch-inset-left:  calc( env(safe-area-inset-left, 1.625rem) - 0.5rem);
  --min-width: 250px;
}

#hero-section > section.background {
  & picture > img {
    margin-right: calc(var(--standard-width) * -1);
    max-height: calc(var(--standard-width) * 3);
  }
} /* END: #hero-section > section.background */

/* Main message with in the hero section for the home page */
#hero-section > section.brand-message {
  padding-bottom: 2.8rem;
  margin-top: 0;
  margin-left: 0.25rem;

  > div  {
    --tagline-font-size: 2.5rem;

    flex-direction: column;
    align-items: flex-start;

    /* Tagline: div + p The main hero-message tag-line */
    & > span {
      font-size: var(--tagline-font-size);
    };
    /* Mask for the word scroll in the main hero message tag-line */
    & > span + div {
      margin-left: 0;
      margin-top: calc( var(--standard-width) * -0.2 );
      height: var(--standard-width); 
      min-width: calc( var(--standard-width) * 2.5 );

      /* Word List in the word scroll */
      > div div {
        font-size: var(--tagline-font-size);
        /* position the word within the mask by adjusting the height of the word box */  
        height: 3rem; /*calc( var(--standard-width) * 0.5 );*/ 
      }
    }    
  } /* div */

  /* Tagline: div + p The sub-text to the tag-line */
  > div + p {
    padding-top: 1rem;
    font-size: 1rem;
  } /* Tagline:  div + p */

} /* END: #hero-section > section.brand-message  */

/* Menu Navigation common across the entire site */
#menu-bar {
  padding-left: var(--notch-inset-left);
  margin: 0.75rem 0.5rem 0 0.5rem;
  
  > nav {
    margin-left: 0.5rem;
  }
  > #search {
    margin-top: 0.25rem;
    max-width: 20rem;
  }
} /* END: #menu-bar */

@media (orientation: landscape) {
  #menu-bar {
    padding-left: calc(var(--notch-inset-left) + 0.65rem);
  } 

  #hero-section > section.background {
    & picture > img {
        margin-right: calc(var(--standard-width) * -0.15);
      }
  } /* END: #hero-section > section.background */
  
  /* Main message with in the hero section for the home page */
  #hero-section > section.brand-message {
    margin-left: 0;
    padding-left: calc(var(--notch-inset-left) + 1rem);
    
    > div  {
      flex-direction: row;
      align-items: center;
      /* Mask for the word scroll in the main hero message tag-line */
      & > span + div {
          margin-top: calc( var(--standard-width) * 0.1 );
          margin-left: 0.5rem;
      }    
    } /* div */
  
    /* Tagline: div + p The sub-text to the tag-line */
    > div + p {
        font-size: 1.25rem;
        padding-top: 0.5rem;

    } /* Tagline:  div + p */
  
  } /* END: #hero-section > section.brand-message  */
  
  /* Menu Navigation common across the entire site */
  #menu-bar {
    > nav > menu {
        font-size: 1.225rem;
    }
    > #search {
        display: flex;
        flex-grow: 0;
    }
  } /* END: #menu-bar */ 
  
} /* END: media orientation landscape. */