@import url('/assets/css/base/common.css') layer(base);

/* Responsive Layer Break Points */
@custom-media --breakpoint-sm  (min-width: 640px);
@custom-media --breakpoint-md  (min-width: 768px);
@custom-media --breakpoint-lg  (min-width: 1024px);
@custom-media --breakpoint-xl  (min-width: 1280px);
@custom-media --breakpoint-2xl (min-width: 1536px);

@custom-media --breakpoint-lsm  (min-width: 640px)  and (orientation: landscape);
@custom-media --breakpoint-lmd  (min-width: 768px)  and (orientation: landscape);
@custom-media --breakpoint-llg  (min-width: 1024px) and (orientation: landscape);
@custom-media --breakpoint-lxl  (min-width: 1280px) and (orientation: landscape);
@custom-media --breakpoint-l2xl (min-width: 1536px) and (orientation: landscape);

@custom-media --breakpoint-arsm  (min-aspect-ratio: 1/1);
@custom-media --breakpoint-armd  (min-aspect-ratio: 4/3);
@custom-media --breakpoint-arlg  (min-aspect-ratio: 3/2);
@custom-media --breakpoint-arxl  (min-aspect-ratio: 16/9);
@custom-media --breakpoint-ar2xl (min-aspect-ratio: 21/9);

:root {
  --fs: calc(2 * var(--basis)); /* Factor 2 can be adjusted according to required font-size relative to the mobile viewport. */
  --min-width: 350px;
}

#hero-section > section.background {  
  & picture > img {
    margin-right: calc(var(--standard-width) * -0.125);
    max-height: calc(var(--standard-width) * 1.75);
  }
} /* END: #hero-section > section.background */

/* Main message with in the hero section for the home page */
#hero-section > section.brand-message {
  padding-bottom: 4rem;
  margin-left: 1rem;
  > div  {  
    --tagline-font-size: 4rem;
    /* Tagline: div + p The main hero-message tag-line */
    & > span {
      font-size: var(--tagline-font-size);
    };
    /* Mask for the word scroll in the main hero message tag-line */
    & > span + div {
      margin-left: 0.5rem;
      margin-top: 0;
      height: calc( var(--standard-width) * 0.75 );
      > div div {
        height: calc( var(--standard-width) * 0.55 ); 
        font-size: var(--tagline-font-size);
      }
    }  
  } /* div */

  /* Tagline: div + p The sub-text to the tag-line */
  > div + p {
    padding-top: 2rem;
    font-size: 2rem;
  } /* Tagline:  div + p */

} /* END: #hero-section > section.brand-message  */

/* Menu Navigation common across the entire site */
#menu-bar {
  padding-left: var(--notch-inset-left);
  margin: 0.75rem 0.5rem 0 1rem;
  > nav {
    margin-left: 0.5rem;      
  }
  > nav > menu {
    gap: 0.75rem;
    font-size: 1.5rem;    
  }
  > #search {
    display: flex;
    margin-top: 0.25rem;
    margin-right: 1rem;
    flex-grow: 0;
  }
} /* END: #menu-bar */

@media (orientation: landscape) {
  /* Main message with in the hero section for the home page */
  #hero-section > section.brand-message {
    width: 75%;

    /* Tagline: div + p The sub-text to the tag-line */
    > div + p {
      display: flex;
      flex-direction: column;
    } /* Tagline:  div + p */  

  } /* END: #hero-section > section.brand-message  */
} /* END: Landscape orientation */