<style>
    /* Always set Charset. Recommended reading: https://www.w3.org/International/questions/qa-css-charset.en */
    @charset "UTF-8";

    /* Portrait ⇋ landscape switch.

       Import statements must come before anything else, there the paths to the top-level CSS files are
       Fully specified here. Then repeated as CSS Variables for other uses.
    */
    /* Orientation independent styles */
    @import url('/assets/css/base/preflight.css') all; 
    @import url('/assets/css/base/colors.css') screen;
    @import url('/assets/css/base/fonts.css') all;      
 
    /* Code syntax highlight */
    @import "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.0.0/build/styles/github-dark.min.css";
    @import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css";

    /* Orientation dependent styles */
    @import url(/assets/css/portrait.css) screen and (orientation: portrait);
    @import url(/assets/css/landscape.css) screen and (orientation: landscape);
    
    /* --vmin stands for base unit of intrinsic blockscoped typography. */
    @media only screen and (orientation: portrait) {
        :root {
            --vmin: calc(100vw/100);
            /* Fallback if vmin is not supported. */
        }
    }
    
    @media only screen and (orientation: landscape) {
        :root {
            --vmin: calc(100vh/100);
            /* Fallback if vmin is not supported. */
        }
    }
    
    /* Global variables below */
    :root {
        --vmin: 1vmin; /* Only used when vmin is supported by the browser. */

        /* Do not remove or alter the following two lines. Repeated from above. */
        /* Recommended reading: https://bubblin.io/blog/a-css-router */
        --portrait-axis: /assets/css/portrait.css;
        --landscape-axis: /assets/css/landscape.css;        

        --pattern-1: url('/assets/images/watercolour1.webp');
        --pattern-2: url('/assets/images/watercolour3.webp');
        --pattern-noise: url('/assets/images/noise.webp');   
        
    }

    @layer base {
      html,
      body {
        /** Pagefind variables */
        --pagefind-ui-scale: .8;
        --pagefind-ui-primary: var(--darkgray);
        --pagefind-ui-text: var(--darkgray);
        --pagefind-ui-background: var(--white);
        --pagefind-ui-border: var(--darkgray);
        --pagefind-ui-tag: var(--lightgray);
        --pagefind-ui-border-width: 1px;
        --pagefind-ui-border-radius: 0.375rem;
        --pagefind-ui-image-border-radius: 0.375rem;
        --pagefind-ui-image-box-ratio: 3 / 2;
        --pagefind-ui-font: var(--serif-font-family); 

        padding: 0;
        margin: 0;

        font-size: var(--base-font-size);
        font-family: var(--serif-font-family);
        font-variation-settings: var(--serif-variation);
      }
    }

    @layer components {
      #search {
        & .pagefind-ui__drawer { 
          position: absolute;
          padding: 1.25rem; 
          overflow-y: auto;
          box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* shadow-lg */
          width: 100%; 
          background-color: white;
          border: 1px solid #e5e7eb;
          box-sizing: border-box;
          border-bottom-right-radius: var(--pagefind-ui-border-radius);
          border-bottom-left-radius: var(--pagefind-ui-border-radius);
          max-height: calc(100vh - 200px); /* max-h-viewport-200, ensure it matches the calculation */
          opacity: 0.95;
        }
        & .pagefind-ui__message { margin: 0; padding: 0; }
        & .pagefind-ui__result { padding-top: 0.5rem; padding-bottom: 0; border: none; }
        & .pagefind-ui__result-inner { margin-top: 0.5rem; }
        & .pagefind-ui__result-link { color: var(-text-black)}
        & .pagefind-ui__result-excerpt { color: var(--text-gray-500)}
      }
    }

</style>