<footer id="basement-message" data-pagefind-ignore>
  <div>  
    <img src="{{ site.baseurl }}/assets/images/logos/yumi-logo.svg" ignorepicture alt="Logo" >
    <p>You, Me and A.I.</p>
  </div>
  <p>{{site.description}}</p> 
</footer>

<footer id="social-links" data-pagefind-ignore>
  <div>
    {% for link in site.sociallinks %}
    <a href="{{ link.url }}" aria-label="{{ link.title }}">
      <div>
        <i class="{{ link.faSet }} {{ link.faIcon }} fa-lg"></i>
        <p>{{ link.title }}</p>
      </div>
    </a>
    {% endfor %}
  </div>
</footer>

<footer id="copyright" data-pagefind-ignore>
  <p>{{site.copyright}}</p>
</footer>