<script>
  // Add a random animation-delay to each .grid-item div for the background animation.
  document.addEventListener("DOMContentLoaded", function() {
    const gridItems = document.querySelectorAll('.grid-item');

    gridItems.forEach(item => {
      const randomDelay = Math.floor(Math.random() * 10);  // random delay between 0 and 5 seconds
      item.style.animationDelay = `${randomDelay}s`;
    });
  });
</script>

{% if hero.visible %}
<!-- Development -->
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>

<!-- Production -->
<!--
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
-->

<script src="{{ site.baseurl }}/assets/scripts/word-scroll.js"></script>

<script>
  tippy('[data-popup]', {
    content(reference) {
      const id = reference.getAttribute('data-popup');
      const template = document.getElementById(id);
      return template.innerHTML;
    },
    theme: 'blocks',
    allowHTML: true,
    interactive: true,
    interactiveDebounce: 15,
    interactiveBorder: 5,
    placement: 'auto',
  });
  
  document.addEventListener( 'DOMContentLoaded', function() {
    // Instantiate the splite without buttons so buttons layout can be customised. 
    var splide = new Splide( '.splide', {
      perPage: 2,
      pagination: false, 
      focus: "center", 
      gap:"1rem",
      start: 2, 
      omitEnd: true,
      arrows: false});

    // Updates the bar width whenever the carousel moves:
    splide.on( 'move', function () {
      var end  = splide.Components.Controller.getEnd() + 1;
      var rate = Math.min( ( splide.index + 1 ) / end, 1 );
      bar.style.width = String( 100 * rate ) + '%';
    });

    splide.mount();
    // Attach events to custom buttons
    btnNext.addEventListener('click', e => {
      var end = splide.Components.Controller.getEnd() - 1;
      if (splide.index < end) {
        splide.go('+1')
      }
    })
    btnPrev.addEventListener('click', e => {
      var begin = 1;
      if (splide.index > begin) {
        splide.go('-1')
      }      
    })
  });
</script>
{% endif %}