<script>
  // Add a random animation-delay to each .grid-item div for the background animation.
  document.addEventListener("DOMContentLoaded", function() {
    const gridItems = document.querySelectorAll('.grid-item');

    gridItems.forEach(item => {
      const randomDelay = Math.floor(Math.random() * 10);  // random delay between 0 and 5 seconds
      item.style.animationDelay = `${randomDelay}s`;
    });
  });
</script>

{% if hero.visible %}
<!-- Development -->
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>

<!-- Production -->
<!--
  <script src="https://unpkg.com/@popperjs/core@2"></script>
  <script src="https://unpkg.com/tippy.js@6"></script>
-->

<script src="{{ site.baseurl }}/assets/scripts/word-scroll.js"></script>

<script>
tippy('[data-popup]', {
  content(reference) {
    const id = reference.getAttribute('data-popup');
    const template = document.getElementById(id);
    return template.innerHTML;
  },
  theme: 'blocks',
  allowHTML: true,
  interactive: true,
  interactiveDebounce: 15,
  interactiveBorder: 5,
  placement: 'auto',
});

// Call this function whenever the carousel is scrolled or updated
document.querySelector('.left-arrow').addEventListener('click', () => {
  document.querySelector('.carousel').scrollBy({ left: -300, behavior: 'smooth' });
});

document.querySelector('.right-arrow').addEventListener('click', () => {
  document.querySelector('.carousel').scrollBy({ left: 300, behavior: 'smooth' });
});
</script>

<script>
  document.addEventListener( 'DOMContentLoaded', function() {
    var splide = new Splide( '.splide' );
    splide.mount();
  } );
</script>

{% endif %}